.display-flex-justify-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border: 1px solid black;
}

.app-logo {
  width: 50%;
}

.list-item {
  list-style-type: none;
  padding: 0 20px;
  margin: 0 10px;
}

.card {
  background-color: lightgray;
  padding: 10px;
  border: 1px solid gray;
  margin: 5px;
  transition: all 0.1s ease-in-out;
  border-radius: 4px;
}

.search {
  padding: 5px;
  margin: 5px 0;
}

.card:hover {
  border: 2px solid;
  cursor: pointer;
  transform: scale(0.98);
}

.rest-img {
  width: 100%;
  border: 1px solid black;
  height: 100%;
  max-height: 300px;
}

.align-rest-name {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.top-rest-btn,
.searchBtn {
  margin: 16px 0 8px 5px;
  background: steelblue;
  padding: 9px;
  color: white;
  font-size: medium;
  border-radius: 3px;
  cursor: pointer;
}

.searchTxt {
  padding: 10px;
  width: 15%;
}

.shimmer {
  width: 300px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 5px;
  animation: shimmar-animation 1s infinite;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

@keyframes shimmar-animation {
  0% {
    background-color: #f2f2f2;
  }
  50% {
    background-color: #e6e6e6;
  }
  100% {
    background-color: #d9d9d9;
  }
}

.login {
  background-color: #4682b4;
  margin-right: 10px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

.error-page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
}

.error-page-text {
  font-size: xx-large;
  margin-bottom: 50px;
  margin-top: 50px;
}

.error-page-img {
  width: 55%;
  border: 1px solid;
  border-radius: 5px;
}

.restaurant-link{
  color: black;
  width: 20%;
}

.item-details-container{
  flex-direction: column;
  display: flex;
  border: 1px solid;
  width: 60%;
  margin: auto;
  border-radius: 6px;
  background-color: lightblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-image {
  width: 150px;
}

.item-name-img-container {
  display: flex;
  padding: 2%;
  justify-content: space-between;
}

.item-description {
  width: 75%;
  color: #404040;
  margin-bottom: 0;
}

.item-name {
  margin-top: 5px;
}

.seperator{
  margin: 0 10px;
}

.veg-classifier {
  color: green;
}

.non-veg-classifier {
  color: red;
}

.items-page {
  background: #f2f2f2;
  padding: 10px;
}

.item-details-shimmer {
  background-color: lightgray;
  width: 60%;
  height: 150px;
  animation: shimmar-animation 1s infinite;
  border: 1px lightgray;
}
