.display-flex-justify-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  border: 1px solid black;
}

.app-logo {
  width: 50%;
}

.list-item {
  list-style-type: none;
  padding: 0 20px;
  margin: 0 10px;
}

.card {
  width: 20%;
  background-color: lightgray;
  padding: 10px;
  border: 1px solid gray;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.search {
  padding: 5px;
  margin: 5px 0;
}

.card:hover {
  border: 2px solid;
  cursor: pointer;
  transform: scale(0.98);
}

.rest-img {
  width: 100%;
  border: 1px solid black;
  height: 100%;
  max-height: 300px;
}

.align-rest-name {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.top-rest-btn {
  margin: 16px 0 8px 5px;
  color: black;
  background: steelblue;
  padding: 9px;
  color: white;
  font-size: medium;
  border-radius: 3px;
  cursor: pointer;
}

.shimmer {
  width: 300px;
  height: 400px;
  background-color: #f0f0f0;
  margin: 5px;
  animation: shimmar-animation 1s infinite;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}


@keyframes shimmar-animation {
  0%   {background-color: #f2f2f2;}
  50%  {background-color: #e6e6e6;}
  100%  {background-color: #d9d9d9;}
}

.login{
  background-color: #4682b4;
  margin-right: 10px;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}